.blogContainer{
    margin: 20px 88px;
}

.blogItem{
    margin: 20px;
    font-family: 'Roboto Mono', monospace;
}

.blogContainer h1{
    font-family: 'Oswald', sans-serif;
    margin: 20px;
}

.blogItem p{
    font-family: 'Roboto Mono', monospace;
}

.btn-btn-sm{
    margin: 0px 4px;
    padding: 5px 5px;
    border-radius: 25px;
    color: whitesmoke;
    background-color: black;
    /* font-weight: bold; */
    font-family: 'Roboto Mono', monospace;
    cursor: pointer;
    margin-top: 25;
}

@media(max-width: 885px) { 
    .blogContainer{
        margin: 27px 5px;
    }
}