.main_info{
    background-color: rgb(0, 0, 0);
    background: url("back_info3.jpg");
    width: 100vw;
    height: 180vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.sidebar_info{
    background-color: rgb(0, 195, 195);
    /* width: 240px; */
    font-family: 'Roboto Mono', monospace;
    transition: transform 0.1s ease-in;
    position: absolute;
    /* font-style: italic; */
}

.sidebargo_info{
    transform: translate(-240px,0px); 
    position: absolute;
}

.sidebar_info nav{
    padding: 30px;
    height: 170vh;
}

.sidebar_info nav li{
    list-style: none;
    font-size: 20px;
    padding: 20px 0;
}

.sidebar_info nav li a{
    text-decoration: none;
    color: whitesmoke;
}

.sidebar_info nav li a:hover{
    text-decoration: none;
    color: rgb(0, 0, 255);
    font-weight: bold;
}

.drawingcontainer{
    display: flex;
    flex-direction: row;
}

.drawing img{
    margin: 20px;
    padding: 2px;
    width: 10vw;
    height: 10vw;
}

.vit_img img{
    margin: 20px;
    padding: 2px;
    width: 10vw;
    height: 10vw;
}

.myGallery{
    margin: 40px 88px;
}

.myGallery h1{
    font-family: 'Oswald', sans-serif;
    margin: 20px;
}

.myGallery h2{
    font-family: 'Oswald', sans-serif;
    margin: 20px;
}

.myGallery p{
    font-family: 'Roboto Mono', monospace;
    margin: 20px;
    font-size: 1.1em;
}